.slider-products {
	background: $color_primary;
	padding: $lh*2 0;
	@include l-min {
		padding: $lh*4 0;
	}
	&__container.container {
		@include m-max {
			width: 100%;
		}
	}
	&__container-slider {
		width: 100%;
	}
	&__slide {
		border-radius: 25px;
		overflow: hidden;
		background: $white;
		width: 80vw;
		margin: 0 5px;
		@include l-min {
			margin: 0;
		}
	}
	&__button-prev {
		color: $black;
		@include l-min {
			left: 30px;
		}
	}
	&__button-next {
		color: $black;	
		@include l-min {
			right: 30px;
		}
	}
	&__image {
		display: block;
		margin: 0 auto;
		position: relative;
		z-index: 1;
	}
	&__content-slide {
		position: relative;
		margin-top: -$lh;
		background: $white;
		padding: $lh;
		border-radius: 25px 25px 0 0;
		z-index: 2;
	}
	&__title-slide {
		font-size: 18px;
		line-height: 22px;
		font-weight: 700;
		margin-bottom: $lh;
		@include l-min {
			font-size: 22px;
			line-height: 26px;
		}
	}
	&__item-list {
		font-size: 14px;
		line-height: 22px;
		font-weight: 300;
		@include l-min {
			font-size: 16px;
			line-height: 24px;
		}
	}
	.swiper-pagination-bullet-active {
		background: $black;
	}
}